.header {
  &.scroll {
    .header-logo {
      filter: brightness(0) invert(1);
    }

    .item-counter {
      background-color: white;
      color: black;
    }
  }
}

.mobile-menu {
  z-index: 100;
}
.menu-link {
  background-color: #256d85;
  z-index: 99;
  color: white;
}

.item-counter {
  background-color: black;
  color: white;
  padding: 0.02rem 0.35rem;
  border-radius: 50%;
  font-size: 0.7rem;
  position: absolute;
  right: 0.2rem;
  top: -0.5rem;
  font-weight: bold;
}
